
.dnd5e.sheet.actor.character.my-beyond {
	overflow: hidden;
	border-radius: 1em;
}
.dnd5e.sheet.actor.character.my-beyond .window-header {
	width: 100%;
	position: absolute;
	height: 1.5em;
	border: none!important;
	border-bottom: none!important;
	background-color: transparent!important;
	color: var(--main-text-color);
	padding-top: .3em;
	line-height: 1em;
	padding-right: 1.5ch;
	z-index: 2;
}
.dnd5e.sheet.actor.character.my-beyond .window-header * {
	visibility: hidden;
}
.dnd5e.sheet.actor.character.my-beyond .window-header:hover * {
	visibility: visible;
}
.dnd5e.sheet.actor.character.my-beyond .window-header .window-title {
	visibility: hidden;
}
.dnd5e.sheet.actor.character.my-beyond .window-header a {
	font-size: 0px;
}
.dnd5e.sheet.actor.character.my-beyond .window-header a:hover {
	text-shadow: 0px 0px 1px var(--roll-hover-color);
}
.dnd5e.sheet.actor.character.my-beyond .window-header a > i {
	font-size: 12px; 
}
.dnd5e.sheet.actor.character.my-beyond .window-header .header-button.close {
	position: initial;
	right: initial;
	height: initial;
}
.dnd5e.sheet.actor.character.my-beyond .window-content {
	cursor: text;
	box-shadow: inset 0px 0px 4px 4px #00000038;
}
.monsterblock.compact-layout .profile-image {
    height: 14ch!important;
    width: 14ch!important;
}
.figotooltip {
	color: #000000;
	z-index: 99999;
    background-color: #fdf1dc;
    padding: 5px 8px;
    max-width: 600px;
    max-height: 900px;
    overflow-y: auto;
    border-top: 3px solid #e69a28;
    border-bottom: 3px solid #e69a28;
    position:fixed;
}
.fspellname{
	color: #822000;
	font-size: 1.8em;
    font-family: andada,serif;
    font-variant: small-caps;
    font-weight: 500;
    float:left;
}
.fsource{
	color:#4a6898;
	font-size: 1.2em;
    font-family: andada,serif;
    font-variant: small-caps;
    font-weight: 500;
	float:right;
	text-align: right; 
}
.fdesc{}
.figohr{
  display: block;
  clear: both;
	
	border-color: #822000;
}